/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.mvn
.idea
flm_./
target
*.iws
*.iml
*.ipr
mvnw
mvnw.cmd
product-consumer/target/
product-consumer/logs/
product-service/target/
product-web/target/
product-consumer/logs/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
/logs
/*.log
/flm_
.DS_Store